<div class="employee-action">
    <div class="employees-heading">
        <span>Employees</span>
        <p>Find all of your company's employee accounts and thier associated roles.</p>
    </div>
    <div class="employee-action-buttons">
        <button id="export-button" type="button">
            <img id="export-icon" alt="Export Icon" src="/assets/upload.png">
            <span>EXPORT</span>
        </button>        
        <button id="add-employee-button" type="button" routerLink="add-employee">
            <i class="fa-sharp fa-regular fa-plus fa-lg"></i>
            <span>ADD EMPLOYEE</span>
        </button>    
    </div>
</div>
