<div class="top-nav-bar">
    <div class="input-container">
        <img id="search-icon" alt="Search Icon" src="/assets/search.png">
        <input class="search-input" placeholder="Search" onkeyup="displayEmployeesDetails(filterEmployees())">
    </div>
    <div class="quick-action">
        <img class="quick-action-icon" alt="Language" src="/assets/language.png">
        <img class="quick-action-icon" alt="Applications" src="/assets/card-view-icon.png">
        <img class="quick-action-icon" alt="Switch to dark mode" src="/assets/theme.png">
        <img class="quick-action-icon" alt="Notifications" src="/assets/notification.png">
        <div class="profile-section">
            <div class="profile-image-section">
                <div class="online-icon">
                    <i class="fa-solid fa-circle fa-2xs " style="color: #28c76f;"></i>
                </div>
                <img id="profile-image" alt="Profile Image" src="/assets/grey-profile-image.png">
            </div>
            <div class="user-details">
                <p>Sagar Hariramani</p>
                <h5>Admin</h5>
            </div>
            <span class="down-arrow">&#10095;</span>
        </div>
    </div>
</div>