#multi-select-filter-department{
    width:93px;
}
.department-options{
    width: 109px;
    display: none;
    position: absolute;
    top: 25px;
    left:10px;
    border-radius: 5px;
}
.checkbox-department{
    display: flex;
    align-items: center;
    background-color: white;
    width: 109px;
    border: 1px solid #FBC0C0;
    border-radius: 5px;
}
.checkbox-department p{
    margin:0px;
    font-size:12px;
    padding: 0 10px 0 5px;
    color:black;
}
.filter-select-options{
    font-family: Roboto300;
    font-weight: 600;
}